.carousel-container {
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    animation: scroll 20s linear infinite;
  }
  
  .carousel-item {
    flex: 0 0 auto; /* Fix size of each item */
    width: 100%; /* Ensure the width is 100% */
    box-sizing: border-box;
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  